.marshal{
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/10.png");
}

.general{
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/9.png");
}

.miner{
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/3.png");
}

.scout{
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/2.png");
}

.spy{
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/S.png");
}

.bomb{
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/B.png");
}

.flag{
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/F.png");
}

.lake{
  cursor: not-allowed;
  background-size: 60px 60px;
  background-color: rgb(34, 160, 160);
  border: none;
}
.sergeant {
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/4.png");
}

.lieutenant {
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/5.png");
}

.captain {
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/6.png");
}

.major {
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/7.png");
}

.colonel {
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/8.png");
}


.opponent{
  cursor: pointer;
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O.png");
}

.marshal-O{
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_10.png");
}

.general-O{
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_9.png");
}

.miner-O{
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_3.png");
}

.scout-O{
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_2.png");
}

.spy-O{
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_S.png");
}

.bomb-O{
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_B.png");
}

.flag-O{
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_F.png");
}

.sergeant-O {
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_4.png");
}

.lieutenant-O {
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_5.png");
}

.captain-O {
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_6.png");
}

.major-O {
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_7.png");
}

.colonel-O {
  background-size: 60px 60px;
  background-image: url("../img/blueArmy/O_8.png");
}

.attacking-move {
  border: 3px solid blue;
}
