body {
  font-family: 'Alegreya Sans', sans-serif;
  color: #EDC35A;
  background-image: url("../img/background/background.png");
}

.topic {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  margin-top: 0px;
}

#logo {
  margin-left: 33%;
  height: 25%;
  width: 25%;
}

#preparations, #outline, #moving, #attacking, #game-type {
  font-size: 35px;
}

#help-logo {
  margin-left: 10%;
  width: 80%;
  height: 100%;
}

#top {
  font-family: 'Alegreya', serif;
  font-size: 30px;
  margin-top: 0.5%;
  margin-left: 1%;
  float: left;
  height: 45px;
  border-radius: 7px;
  border-color: #8d6e1c;
  background-color: rgb(156, 131, 69);
  cursor: pointer;
}

#top:hover, #bottomButton:hover {
  background-color: #BC8B2D;
  box-shadow: 0px 0px 10px 0px #BC8B2D;
}

#bottomButton {
  font-family: 'Alegreya', serif;
  font-size: 30px;
  margin-left: 47.1%;
  height: 50px;
  border-radius: 7px;
  border-color: #8d6e1c;
  background-color: rgb(156, 131, 69);
  cursor: pointer;
}

.subtitle{
  font-size: 50px;
  margin-bottom: 0px;
}

.helpImg, .gameType {
  margin-left: 180px;
  border: 2px solid #ccc01e9c;
}

.end {
  margin-left: 225px;
  border: 2px solid #ccc01e9c;
}

.playing-pieces{
  height: 80px;
  width: 80px;
}

li,p {
  margin-left: 10px;
  font-size: 30px;
}

button:focus {
  outline: 0;
}
