html, body {
  overflow: hidden;
}

body {
  background-image: url("../img/background/background.png");
}

#logo {
  height: 50%;
  width: 50%;
  margin: 5% 23%;
}

#redbutton, #bluebutton {
  font-size: 250%;
  font-family: 'Alegreya', serif;
  width: 50%;
  margin: 1% 24%;
  color: #EDC35A;
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.column-middle .alert {
  text-align: center;
  font-size: 200%;
  font-family: 'Alegreya', serif;
  width: 80%;
  margin: 0% 9.5%;
  color: #EDC35A;
  background: none;
  border: none;
}

.popup-form {
  animation: animatezoom 0.6s;
  width: 40%;
  margin: -13% 0% 0% 30%;
  overflow: auto;
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(01)
  }
}

.popup-form input {
  outline: 0;
}

.popup-form button {
  font-size: 40%;
}

input[type=text] {
  font-size: larger;
  width: 100%;
  padding: 3% 10%;
  margin: 2% 0%;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
}

#join {
  display: none;
}

#create {
  display: none;
}

#errorMsg {
  color: red;
  font-size: 20px;
  text-align: center;
  font-family: 'Alegreya', serif;
}
