html, body {
  overflow: hidden;
}

body {
  background-image: url("../img/background/background.png");
}

.top-div {
  margin-top: 2%;
  height: 400px;
}

#logo {
  height: 65%;
  width: 50%;
  margin: 3% 23% 0% 24%;
}

#redbutton, #bluebutton, #helpButton {
  font-size: 250%;
  font-family: 'Alegreya', serif;
  width: 50%;
  margin: 1% 24%;
  color: #EDC35A;
  background: none;
  border: none;
  cursor: pointer;
}

#redbutton:hover, #bluebutton:hover, #helpButton:hover {
  color: #BC8B2D;
}

#create-red-button {
  font-size: 250%;
  font-family: 'Alegreya', serif;
  width: 50%;
  margin: 1% 24%;
  color: #210402;
  background: #EDC35A;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#create-red-button:hover {
  background-color: #BC8B2D;
  box-shadow: 0px 0px 10px 0px #BC8B2D;
}

.column-middle .alert {
  text-align: center;
  font-size: 200%;
  font-family: 'Alegreya', serif;
  width: 80%;
  margin: 0% 9.5%;
  color: #EDC35A;
  background: none;
  border: none;
}

.popup-form {
  animation: animatezoom 0.6s;
  width: 40%;
  padding: 1% 0% 2% 0;
  margin: -17% 0% 0% 29%;
  overflow: auto;
  border: 0.5px solid #EDC35A;
  border-radius: 5px;
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(01)
  }
}

.popup-form input {
  outline: 0;
}

.popup-form button {
  font-size: 40%;
}

input[type=text] {
  font-size: larger;
  width: 70%;
  padding: 3% 10%;
  margin: 2% 14.5%;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
}

#join {
  display: none;
}

#create {
  display: none;
}

.errorMsg {
  color: red;
  font-size: 20px;
  text-align: center;
  font-family: 'Alegreya', serif;
}

#help {
  display: none;
  animation: animatezoom 0.6s;
  margin: auto;
  margin-top: 5%;
  width: 60%;
  height: 700px;
  overflow: auto;
  background-color: none;
}

#help-popup {
  width: 100%;
  height: 100%;
}

.close {
  width: auto;
  height: auto;
  margin-left: 95%;
}

#close-popup-button {
  font-size: 25px;
  color: #EDC35A;
}

input[type=radio] {
font-size: larger;
  margin-left: 10%;
  height: 25px;
  width: 30px;
}

.mode{
  font-size: 30px;
  color: #EDC35A;
}

#logoutButton {
  margin-left: 93%;
  font-size: 30px;
  font-family: 'Alegreya', serif;
  background: none;
  border: none;
  color: #EDC35A;
  cursor: pointer;
  text-decoration: underline;
}
