body {
  background: rgba(233, 212, 179, 1);
  background: -moz-linear-gradient(top, rgba(233, 212, 179, 1) 0%, rgba(233, 212, 179, 1) 0%, rgba(182, 141, 76, 1) 1%, rgba(193, 158, 103, 1) 5%, rgba(243, 226, 199, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233, 212, 179, 1)), color-stop(0%, rgba(233, 212, 179, 1)), color-stop(1%, rgba(182, 141, 76, 1)), color-stop(5%, rgba(193, 158, 103, 1)), color-stop(100%, rgba(243, 226, 199, 1)));
  background: -webkit-linear-gradient(top, rgba(233, 212, 179, 1) 0%, rgba(233, 212, 179, 1) 0%, rgba(182, 141, 76, 1) 1%, rgba(193, 158, 103, 1) 5%, rgba(243, 226, 199, 1) 100%);
  background: -o-linear-gradient(top, rgba(233, 212, 179, 1) 0%, rgba(233, 212, 179, 1) 0%, rgba(182, 141, 76, 1) 1%, rgba(193, 158, 103, 1) 5%, rgba(243, 226, 199, 1) 100%);
  background: -ms-linear-gradient(top, rgba(233, 212, 179, 1) 0%, rgba(233, 212, 179, 1) 0%, rgba(182, 141, 76, 1) 1%, rgba(193, 158, 103, 1) 5%, rgba(243, 226, 199, 1) 100%);
  background: linear-gradient(to bottom, rgba(233, 212, 179, 1) 0%, rgba(233, 212, 179, 1) 0%, rgba(182, 141, 76, 1) 1%, rgba(193, 158, 103, 1) 5%, rgba(243, 226, 199, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9d4b3', endColorstr='#f3e2c7', GradientType=0);
}

.alert {
  font-size: 26px;
  width:800px;
  height:200px;
  position: absolute;
  right: 0;
  top: 35%;
  left: 2.5%;
  bottom: 0;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  padding: 20px;
  background-color:rgb(78,73,75);
  border-radius: 12px;
  color: white;
}

h1 {
  padding: 70px;
  text-align: center;
  font-family: 'UnifrakturCook', cursive;
  font-size: 200px;
  color: darkgoldenrod;
  text-shadow: 4px 4px 6px #7E481C;
}

button {
  font-family: 'Alegreya', serif;
  font-weight: bold;
  width: 300px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 8px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}

#redbutton {
  background-color: #f44336;
}

#bluebutton {
  background-color: #008CBA;
}

#help {
  background-color: #4CAF50;
}

.basic {
  width: 400px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 35%;
  left: 2.5%;
  bottom: 0;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.popup-form {
  height: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup-form button {
  width: 100%;
  padding: 5px 15px;
}

input[type=text] {
  font-size: larger;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

input[type=text]:focus {
  border-radius: 4px;
  border: 3px solid #555;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input label {
  margin: 6px 10px;
  font-weight: 100;
  color: rgb(91, 91, 93);
}

#join {
  display: none;
}

#create {
  display: none;
}
