html, body {
  overflow: hidden;
}

body {
  font-family: 'Alegreya', serif;
  text-transform: uppercase;
  background-image: url("../img/background/background.png");
  background-size: 100% 100%;
  background-attachment: fixed;
}

#logo {
  height: 25%;
  width: 25%;
  margin-top: 1.5%;
  margin-left: 37%;
}

.error-msg {
  margin-top: 1%;
  margin-left: 46.5%;
  font-size: 20px;
  height: 30px;
  color: #caaa5a;
}

.login-form, .sign-up-form {
  margin: auto;
  margin-top: 0.5%;
  width: 480px;
  height: 310px;
  border: 1px solid rgb(156, 131, 69);
  border-radius: 12px;
}

.sign-up-form {
  height: 425px;
}

#login-form, #sign-up-form {
  width: 400px;
  height: 240px;
  margin: auto;
  padding: 20px 20px 0px 20px;
}

input:not([type="button"]) {
  font-size: 18px;
  padding: 5px 0;
  color: rgb(156, 131, 69);
  appearance: none;
  font-family: 'Alegreya', serif;
  -webkit-appearance: none;
  outline: 0;
  border: none;
  background: none;
  border-bottom: 1px solid rgb(156, 131, 69);
}

input:not([type="button"]):hover {
  border-bottom: 1px solid #e2bb59;
}

input:not([type="button"]):focus {
  border-bottom: 1px solid #e2bb59;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input label {
  margin: 6px 0;
  font-weight: 100;
  color: rgb(156, 131, 69);
}

input[type="button"] {
  font-size: 20px;
  background: rgb(156, 131, 69);
  font-family: 'Alegreya', serif;
  text-transform: uppercase;
  padding: 5px 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 30px;
}

#sign-up-form input[type="button"] {
  margin-top: 20px;
}

input[type="button"]:hover {
  background-color: #caaa5a;
}

input[type="button"]:focus {
  outline: 0;
}

.sign-up {
  display: inline;
  margin-left: 25%;
  font-size: 19px;
  width: 20px;
  color: rgb(156, 131, 69);
  text-transform: none;
}

#go-to-sign-up {
  margin-left: 7%;
  cursor: pointer;
  text-decoration: underline;
}

#go-to-sign-up:hover {
  color: #caaa5a;
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(01)
  }
}

.overflow-model {
  display: none;
}

.popupContent {
  animation: animatezoom 0.6s;
}
