.heading {
  text-align: center;
  width: 100%;
  height: 20%;
  margin: 3% 0%;
}

#title {
  margin-left: 15%;
  font-size: 150%;
  padding: 0.5% 2%;
  background-color: gray;
}

.playerDetails {
  float: right;
  margin: 0% 11% 0% 0%;
  padding: 0.5% 1%;
  background-color: lightgray;
}

.main {
  width: 100%;
  height: 700px;
}

.leftBlock {
  width: 65%;
  height: 100%;
}

.battlefieldGrid {
  width: 100%;
  height: 55%;
}

#battlefield {
  margin: 0% 10%;
  padding: 0.5%;
  background-color: lightgray;
}

table{
  margin: 2% 10%;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 0%;
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

.armyBaseGrid {
  width: 100%;
  height: 45%;
}

#armyBase {
  margin: 0% 10%;
  padding: 0.5%;
  background-color: lightgray;
}

.rightBlock {
  float: right;
  width: 35%;
  height: 100%;
  margin-top: -47%;
}

.pieceDescription {
  margin: 5% 0%;
  width: 70%;
  height: 35%;
  border: 1px solid black;
}

.waitMessage {
  text-align: center;
  width: 70%;
  height: 20%;
  border: 1px solid black;
}

#readyStatus {
  font-size: 140%;
}

.ready {
  width: 100%;
  height: 20%;
}

#ready {
  font-size: 100%;
  width: 15%;
  height: 25%;
  margin: 7% 27%;
  background-color: lightgray;
}
