body {
  background-image: url("../img/background/background.png");
  font-family: 'Bellefair', serif;
}

#logo {
  margin: 1% 44%;
  height: 10%;
  width: 12%;
}

.profiles {
  margin-top: 7%;
  width: 100%;
  height: 40px;
}

.me {
  text-align: center;
  color: white;
  float: left;
  margin-left: 10%;
  margin-top: -4%;
  width: 20%;
  height: 100%;
}

.opponent {
  text-align: center;
  color: white;
  float: right;
  margin-right: 10%;
  margin-top: -4%;
  width: 20%;
  height: 100%;
}

#me {
  color: black;
  text-transform: uppercase;
  font-size: 130%;
  background-color: #a78d43;
  padding: 2% 5%;
}

#opponent {
  color: black;
  text-transform: uppercase;
  font-size: 130%;
  background-color: #a78d43;
  padding: 2% 5%;
}

.turnMessage {
  text-align: center;
  margin: auto;
  margin-top: -3%;
  width: 30%;
  height: 30px;
}

#currentPlayer {
  text-transform: uppercase;
  color: black;
  font-size: 150%;
  width: 100%;
  height: 80%;
  background-color: #a78d43;
  padding: 1%;
}

.container {
  margin: auto;
  margin-top: 1%;
  width: 75%;
  height: 630px;
}

.redArmy {
  float: left;
  margin-left: 4%;
  width: 10%;
  height: 100%;
}

#redArmyCaptured {
  width: 60%;
  height: 100%;
}

.blueArmy {
  float: right;
  margin-right: 4%;
  width: 10%;
  height: 100%;
}

#blueArmyCaptured {
  width: 60%;
  height: 100%;
}

.battlefield {
  margin: auto;
  width: 60%;
  height: 100%;
}

#battlefield {
  margin: auto;
  border-collapse: collapse;
}

#capturedRed {
  float: center;
  background-color: #a78d43;
}

#capturedBlue {
  float: center;
  background-color: #a78d43;
}

td > #X {
  width: 63px;
  height: 63px;
  cursor: not-allowed;
}

img {
  cursor: pointer;
  height: 62px;
  width: 62px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

img > #X {
  cursor: not-allowed;
}

img > #O {
  cursor: move;
}

td {
  position: relative;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 1px solid #a78d4359;
}



#playAgain {
  visibility: hidden;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  font-size:15px;
  margin-left: 2%;
  padding: 2%;
  background-color: #a78d43;
}

#redArmyCaptured,
#blueArmyCaptured {
  margin-left: 20%;
  border-collapse: collapse;
  align-self: center;
}

#blueArmyPieces,
#redArmyPieces {
  margin-top: -41%;
  font-size: 20px;
  text-align: center;
  background-color: #a78d43;
}
