body {
  background-image: url("../img/background/background.png");
  font-family: 'Bellefair', serif;
}

#logo {
  margin: 1% 44%;
  height: 10%;
  width: 12%;
}

.turnMessage {
  text-align: center;
  margin: auto;
  margin-top: 6%;
  width: 30%;
  height: 40px;
}

#currentPlayer {
  text-transform: uppercase;
  color: #a78d43;
  font-size: 175%;
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  margin-top: 2%;
  width: 75%;
  height: 630px;
}

.battlefield {
  margin: auto;
  width: 60%;
  height: 100%;
}

#battlefield {
  margin: auto;
  border-collapse: collapse;
}

img {
  height: 62px;
  width: 62px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

td {
  position: relative;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 1px solid #a78d4359;
}
