body {
  background-image: url("../img/background/background.png");
  font-family: 'Bellefair', serif;
}

#logo {
  margin: 1% 44%;
  height: 10%;
  width: 12%;
}

.profiles {
  margin-top: 7%;
  width: 100%;
  height: 40px;
}

.me {
  text-align: center;
  color: white;
  float: left;
  margin-left: 10%;
  width: 20%;
  height: 100%;
}

.opponent {
  text-align: center;
  color: white;
  float: right;
  margin-right: 10%;
  width: 20%;
  height: 100%;
}

#me {
  color: black;
  text-transform: uppercase;
  font-size: 130%;
  background-color: #a78d43;
  padding: 2% 5%;
}

#opponent {
  color: black;
  text-transform: uppercase;
  font-size: 130%;
  background-color: #a78d43;
  padding: 2% 5%;
}

.turnMessage {
  text-align: center;
  margin: auto;
  width: 30%;
  height: 40px;
}

#currentPlayer {
  text-transform: uppercase;
  color: black;
  font-size: 175%;
  width: 100%;
  height: 100%;
  background-color: #a78d43;
  padding: 2% 5%;
}

.container {
  margin: auto;
  margin-top: 2%;
  width: 75%;
  height: 630px;
}

.redArmy {
  float: left;
  margin-left: 4%;
  width: 10%;
  height: 100%;
}

#redArmyCaptured {
  width: 60%;
  height: 100%;
}

.blueArmy {
  float: right;
  margin-right: 4%;
  width: 10%;
  height: 100%;
}

#blueArmyCaptured {
  width: 60%;
  height: 100%;
}

.battlefield {
  margin: auto;
  width: 60%;
  height: 100%;
}

#battlefield {
  margin: auto;
  border-collapse: collapse;
}

#capturedRed {
  float: center;
  background-color: #a78d43;
}

#capturedBlue {
  float: center;
  background-color: #a78d43;
}

td > #X {
  width: 63px;
  height: 63px;
}

img {
  height: 62px;
  width: 62px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

td {
  position: relative;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 1px solid #a78d4359;
}

#redArmyCaptured,
#blueArmyCaptured {
  border-collapse: collapse;
}
